html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  padding-left: 2em;
  padding-right: 2em;
}

.error {
  border:2px solid red ;
  text-align: center;
}

.display {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .display {
    display: inline;
  }

  .head {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
}
